#people {}

#people li {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 8px 8px;
    background: white;
}

#people li:nth-child(odd) {
    background: #eee;
}

#people li div {
    margin-right: 8px;
}

#people li div:last-child {
    margin-right: 0;
}

#people li div.is-active {}

#people li div.balance {}

#people li div.picture {
    max-width: 50px;
}

#people li div.picture img {
    max-width: 100%;
    max-height: 100%;
}