section(class="top-logo-section")
  div(class="logo")
    img(src="images/logo.png")
  div(class="addresstext")
    p 
      a(href="#") г. Москва
    p ул. Антонова-Евсеенко
    p дом 15, стр.3
  div(class="phonetext")
    div(class="bordered")
      p ТЕЛ.
      p 
        strong +7 123-456-78-90
      p 
        strong +7 123 456-78-90
  div(class="buttontop pulse")
    button(class="btn") 
      i(class="fa fa-pencil fa-fw")
      |Заявка на стенд




nav(class="navigation" id="myNav")
  a(href="#" class="active") О Компании 
  a(href="#") Вакансии
  a(href="#") Контакты
  a(href="#") Клиенты
  a(href="javascript:void(0);" class="icon" onclick="myFunction()")
    icon(class="fa fa-bars")



div(class="line-separator") 

section(class="topimage")
  div(class="topimgtext")
    h1 ЭКСПОЦЕНТР

    p Выставочный стенд компании "Test" на выставке ЭКСПО-2016      

section(class="blue-section")



  div(class="text-row")
    div(class="text-vario")
      h1 VARIO-EXPO systems
    div(class="text-vario-rus")
      h3 - ИНДИВИДУАЛЬНОЕ СТРОИТЕЛЬСТВО ВЫСТАВОЧНЫХ СТЕНДОВ.

  div(class="container-text-top")

    article(class="paragraph1")
      p(class="line") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.
    article(class="paragraph2")
      p(class="line") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute.

section(class="services")
  div(class="servicebox")
    img(src="https://image.flaticon.com/icons/svg/683/683464.svg")
    h1 ПРОЕКТИРОВАНИЕ
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

  div(class="servicebox")
    img(src="https://image.flaticon.com/icons/svg/683/683467.svg")
    h1 СТРОИТЕЛЬСТВО
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

  div(class="servicebox")
    img(src="https://image.flaticon.com/icons/svg/683/683465.svg")
    h1 АРЕНДА
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt


section(class="images")

  div(class="imagebox")
    img(src="images/test.jpg" class="images-img")
    button(class="btn") A+B Collection

  div(class="imagebox")
    img(src="images/test1.jpg" class="images-img")
    button(class="btn") Division Group

  div(class="imagebox")
    img(src="images/test.jpg" class="images-img")
    button(class="btn") Cork Centre
  div(class="imagebox")
    img(src="images/test2.jpg" class="images-img")
    button(class="btn") ForMyDogs

section(class="bottom-section")

  div(class="clients")
    div(class="text-row")
      div(class="text1")
        h1 Наши Клиенты
      div(class="text_link")
        a(href='#') Показать всех

    div(class="img-row") 
      img(src="images/test1.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test2.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test1.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test2.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test1.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test2.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test1.jpg" )
      img(src="images/test.jpg" )
      img(src="images/test2.jpg" )


  div(class="news")
    h1 Новости

    div(class='line')

      p
        a(href='#') Заголовок новости
        time( class="posttime" pubdate datetime="") 01.11.2015
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

    div(class='line')
      p
        a(href='#') Заголовок новости
        time( class="posttime" pubdate datetime="") 13.10.2015

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

    div(class='line')
      p
        a(href='#') Заголовок новости
        time( class="posttime" pubdate datetime="") 10.11.2015

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

div(class="line-separator") 

footer(class="footer")
  img(src="images/logo.png" class="footer-logo")
  div(class="footer-links")
    a(href="#" class="active") О Компании
    a(href="#" class="not-active") Вакансии
    a(href="#" class="not-active") Контакты
    a(href="#" class="not-active") Клиенты